
<table border="0" width="500" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="500" height="45"><a href="http://http://site.sharengo.it" target="_blank"><img src="http://www.sharengo.it/images/mails/Sharengo_Header_LOGO_500x45.gif" alt="logo_sharengo" width="500" height="45" /></a></td>
</tr>
<tr>
<td width="500" height="158"><a href="http://http://site.sharengo.it" target="_blank"><img src="http://www.sharengo.it/images/mails/Problema_Patente2.gif" alt="visual_sharengo" width="500" height="158" /></a></td>
</tr>
<tr>
<td width="500" height="20">&nbsp;</td>
</tr>
<tr>
<td><!-- TABELLA TESTO -->
<table border="0" width="500" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="10">&nbsp;</td>
<td style="font-family: 'Lato', arial, sans-serif; font-size: 14px; color: #333; font-weight: regular; line-height: 20px;" bgcolor="#FFFFFF" width="480">
<p>Ciao,</p>
<p>il tuo profilo Share&rsquo;ngo &egrave; stato temporaneamente disabilitato in quanto dai controlli effettuati dal Ministero dei Trasporti&nbsp;la tua patente&nbsp;inserita in fase di registrazione a <strong>Share&rsquo;ngo</strong>&nbsp;<span style="text-decoration: underline;"><strong>NON</strong></span> risulta valida&nbsp;e questo potrebbe essere dovuto ad esempio a:</p>
<ul>
<li>numero errato della patente o patente non esistente</li>
<li>patente scaduta o sostituita da una patente pi&ugrave; recente</li>
<li>discordanza tra N.Patente, Codice Fiscale o i Dati Anagrafici (ad es. doppio nome non riportato)</li>
<li>registrazione con caratteri diacritici (es. accenti o dieresi) non riportati o non corretti in anagrafica</li>
</ul>
<p>SHARE&rsquo;NGO NON PU&Ograve; AUTORIZZARTI L&rsquo;UTILIZZO DELLE PROPRIE AUTO SE QUESTI ERRORI NON VENGONO CORRETTI E PER QUESTO TI INVITIAMO A CONTROLLARE CON URGENZA I TUOI DATI.&nbsp;<br /> <br /> Per farlo bastano solo pochi semplici passi:</p>
<ul>
<li>entra su&nbsp;<a href="http://site.sharengo.it">www.sharengo.it</a>&nbsp;ed&nbsp;<strong>effettua il login</strong>&nbsp;(con mail e password)</li>
<li>seleziona nel men&ugrave; a tendina sulla sinistra la sezione &ldquo;<strong>PATENTE</strong>&rdquo;</li>
<li>se verifichi un errore nel N. di Patente, nel Soggetto che l&rsquo;ha rilasciata o nella Data di rilascio/scadenza clicca &ldquo;<strong>MODIFICA</strong>&rdquo; e procedi alla variazione</li>
<li>se &egrave; tutto corretto controlla i tuoi dati anagrafici. In prima istanza verifica che il nome e cognome con cui ti sei registrato siano quelli riportati sulla tua patente (inclusi gli accenti) e procedi con &ldquo;<strong>MODIFICA</strong>&rdquo; per correggere gli eventuali errori</li>
<li>in ogni caso, dopo aver inserito i nuovi dati, conferma cliccando su&ldquo;<strong>SALVA</strong>&rdquo;</li>
</ul>
<p>Per favore aggiorna i dati sul tuo profilo personale per poter tornare ad utilizzare il servizio e provare il piacere e il divertimento di guidare le auto elettriche e condivise di&nbsp;<strong>Share&rsquo;ngo</strong>.&nbsp;<br /> <br /> Se non riesci a risolvere da solo il tuo problema, scrivi a <a href="mailto:servizioclienti@sharengo.eu">servizioclienti@sharengo.eu</a>.&nbsp;<br /> <br /> Insieme sistemeremo il tuo profilo per permetterti subito di tornare alla guida di una&nbsp;<strong>Share&rsquo;ngo</strong>!&nbsp;<br /> <br /> Grazie della tua comprensione e collaborazione.&nbsp;</p>
</td>
<td width="10">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- FINE TABELLA TESTO --></td>
</tr>
<tr>
<td width="500" height="20">&nbsp;</td>
</tr>
<tr>
<td style="font-family: 'Lato', arial, sans-serif; font-size: 12px; color: #333; font-weight: regular; text-align: center;" bgcolor="#FFFFFF" width="500" height="40"><img src="http://manage.sharengo.it/img/Sharengo_Footer.gif" alt="sharengo_team" width="500" height="40" /></td>
</tr>
  <td  width="500" height="40" bgcolor="#FFFFFF" style="font-family:'Lato', arial, sans-serif; font-size:12px; color:#333;  font-weight:regular; text-align:center;">
  Info e regolamento su <a href="http://site.sharengo.it" target="_blank" style="color:#08bd53; text-decoration:none;">www.sharengo.it</a></td></tr>
  <tr>
<td style="font-family: 'Lato', arial, sans-serif; font-size: 12px; color: #333; font-weight: regular; text-align: left;" bgcolor="#1c2429" width="500" height="80"><!-- TABELLA FOOTER -->
<table border="0" width="500" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="10">&nbsp;</td>
<td style="font-family: 'Lato', arial, sans-serif; font-size: 12px; color: #08bd53; font-weight: regular; text-align: left; vertical-align: bottom;">SEGUICI SU</td>
<td>&nbsp;</td>
<td width="10">&nbsp;</td>
</tr>
<tr>
<td width="10">&nbsp;</td>
<td><!-- TABELLA SOCIAL -->
<table border="0" width="100" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a style="color: #08bd53; text-decoration: none;" href="https://www.facebook.com/ShareNGo.eu" target="_blank"><img src="http://www.sharengo.it/images/mails/Sharengo_Social_FB.gif" alt="sharengo facebook" width="30" height="30" /></a></td>
<td width="5">&nbsp;</td>
<td><a style="color: #08bd53; text-decoration: none;" href="https://twitter.com/share_n_go" target="_blank"><img src="http://www.sharengo.it/images/mails/Sharengo_Social_TW.gif" alt="sharengo twitter" width="30" height="30" /></a></td>
<td width="5">&nbsp;</td>
<td><a style="color: #08bd53; text-decoration: none;" href="https://www.linkedin.com/company/share'ngo" target="_blank"><img src="http://www.sharengo.it/images/mails/Sharengo_Social_IN.gif" alt="sharengo in" width="30" height="30" /></a></td>
</tr>
</tbody>
</table>
<!-- FINE TABELLA SOCIAL --></td>
<td style="font-family: 'Lato', arial, sans-serif; font-size: 12px; color: #999; font-weight: regular; text-align: right;">Servizio clienti <span style="color: #ccc;">0586 1863183</span><br /> &copy; Share&rsquo;ngo CS Group Spa 2016</td>
<td width="10">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- FINE TABELLA FOOTER --></td>
</tr>
</tbody>
</table>