<div style="width: 590px;">
    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Gentile Cliente,
        <br>
        <br>
        le confermiamo che le modifiche ai dati della patente sono andate a buon fine e che il suo profilo <i>Share'ngo</i> &egrave; stato <b>RIABILITATO</b>.
        <br>
        Adesso potr&agrave; rimettersi alla guida e tornare a utilizzare le nostre Equomobili!
        <br>
        Buone corse con <b>Share'ngo</b>!
        <br>
        <br>
        Ciao
    </div>
</div>