<div style="width: 690px;">
    <div style="font-family: sans-serif; padding: 10px; overflow: hidden; text-align: justify; text-justify: inter-word;">
        Gentile Cliente,
        <br>
        <br>
        il suo profilo <b>Share'ngo</b> &egrave; stato temporaneamente disabilitato per una questione relativa alla sua patente.
        <br>
        <b>Da un controllo effettuato con il Ministero dei Trasporti <font color="#ff0000">la sua patente</font> inserita in fase di registrazione a Share'ngo <font color="#ff0000">NON risulta infatti valida</font> e questo potrebbe essere dovuto ad esempio a: </b>
        <br>
        <br>
        <ul>
            <li>Numero errato della patente o patente non esistente</li>
            <li>Patente scaduta o Patente sostituita da patente pi&ugrave; recente</li>
            <li>Discordanza tra N.Patente e Codice Fiscale, o dati anagrafici (ad es. relativi ad un doppio nome)</li>
            <li>Registrazione con caratteri diacritici nella anagrafica (ad es. accenti o dieresi) non riportati o non corretti</li>
        </ul>
        SHARE'NGO NON PU&Ograve; AUTORIZZARLE L'UTILIZZO DELLE PROPRIE AUTO SE QUESTI ERRORI NON VENGONO CORRETTI E PER QUESTO LA INVITIAMO A CONTROLLARE CON URGENZA I SUOI DATI.
        <br>
        <br>
        Per farlo bastano solo <b>3</b> semplici passi:
        <ul>
            <li>Entri su <a href="https://www.sharengo.it">www.sharengo.it</a> ed effettui il login (con mail e password);</li>
            <li>Selezioni nel men&ugrave; a tendina sulla sinistra la sezione &quot;Patente&quot; </li>
            <li>Se verifica un errore nel N. di Patente (o nel soggetto che l'ha rilasciata) clicchi &quot;Modifica&quot; e proceda alla variazione</li>
            <li>Se il numero della Patente e il soggetto che l'ha rilasciata &egrave; corretto controlli i suoi dati anagrafici. In prima istanza verifichi che il nome e cognome con cui si &egrave; registrato siano quelli riportati sulla sua patente (inclusi gli accenti) e proceda con &quot;Modifica&quot; per correggere gli eventuali errori
            <li>In ogni caso, dopo aver inserito i nuovi dati, confermi cliccando su &quot;Salva dati&quot;</li>
        </ul>
        Nel caso in cui tutto le sembri corretto per favore ci mandi una email a <a href="mailto:servizioclienti@sharengo.eu">servizioclienti@sharengo.eu</a> 
        <br>
        <br>
        <b>Le chiediamo di fare questi controlli il prima possibile in modo da non perdere occasione di iniziare ad utilizzare le auto di Share'ngo!</b>
        <br>
        <br>
        Grazie per la sua comprensione e collaborazione.
        <br>
        <br>
        <div style="padding-left: 560px;text-align: center;">
            <i>Servizio Clienti</i>
            <br>
            <b>Share'ngo!</b>
        </div>
    </div>
</div>