<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s,
        <br>
        <br>
         Grazie di aver lasciato l’auto vicino ad una stazione di ricarica. Ti confermiamo che domani ti saranno accreditati 5 crediti sul tuo profilo.
        <br>
        <br>
        Il Team Share’ngo
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">          
        </div>
    </div>
</div>