<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px;">
        Ciao %1$s %2$s,
        <br>
        <br>
        ti diamo il benvenuto tra gli <i>Equomobili</i>, la community di SHAREN'GO, confermandoti, se hai effettuato il pagamento della registrazione di 10 &euro;, l'accredito automatico dei primi 500 minuti di utilizzazione delle nostre auto.
        <br>
        <br>
        <b>Il servizio sar&agrave; attivo a Milano dal 15 giugno</b> e nelle prossime settimane ti invieremo le Condizioni Generali di Contratto, il Regolamento e le modalit&agrave; di utilizzazione dell'Equomobile.
        <br>
        <br>
        Riceverai anche il PIN che ti servir&agrave; per prenotare e utilizzare una delle nostre auto.
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Grazie e a presto
            <br>
            <br>
            Barbara Bacci
            <br>
            Community Manager
            <br>
            SHARE'NGO Milano
        </div>
    </div>
    <a href="https://www.facebook.com/ShareNGo.eu">
        <img src="cid:like.jpg" style="width: 590px; margin-top: 20px;">
    </a>
</div>