<div style="width: 590px;">
    <img src="cid:banneremail.png" width="590px" height="97px">

    <div style="font-family: sans-serif; padding: 10px;">
        Ciao %1$s %2$s,
        <br>
        <br>
        ti diamo il benvenuto tra gli <i>Equomobili</i>, la community di SHAREN'GO, confermandoti l'accredito dei 500 minuti compresi con la tua registrazione.
        <br>
        <br>
        <b>Il servizio sar&agrave; attivo a Milano il 15 giugno</b> e nelle prossime settimane ti invieremo le Condizioni Generali di Contratto, il Regolamento e le modalit&agrave; di utilizzazione dell'Equomobile.
        <br>
        <br>
        Riceverai anche il PIN RISERVATO che ti servir&agrave; per prenotare e utilizzare una delle nostre auto.
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.png" widht="185px">
        </div>
        <div style="width: 370px; float: right;">
            Grazie e a presto
            <br>
            <br>
            Barbara Bacci
            <br>
            Community Manager
            <br>
            SHARE'NGO Milano
        </div>
    <div>
</div>