<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s,
        <br>
        <br>
         Grazie per aver finito la tua corsa vicino ad un punto di ricarica.
         Share’nGo, per ringraziarti, ti regala 5 minuti di corsa bonus!
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            
        </div>
    </div>
</div>