<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        Ti diamo il benvenuto tra gli <i>Equomobili</i>, la community di SHARE'NGO, confermandoti l'accredito dei 100 minuti compresi con la tua registrazione.
        <br>
        <br>
        Conferma qui sotto il tuo indirizzo email per poter entrare in area riservata sul sito <a href="http://www.sharengo.it">www.sharengo.it</a> per:
        <ul>
            <li>Controllare i tuoi dati utente</li>
            <li>Memorizzare il tuo PIN (ti servir&agrave; per avviare le corse)</li>
            <li>Pagare la tua iscrizione e associare il tuo account ad una carta di credito (anche prepagata) se questo non fosse avvenuto in fase di registrazione</li>
        </ul>
        <br>
        <br>
        <b>Fatto tutto questo potrai oggi stesso iniziare ad usare Le equomobili di SHARE'NGO.</b>
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Grazie e a presto
            <br>
            <br>
            Barbara Bacci
            <br>
            Community Manager
            <br>
            SHARE'NGO Milano
        </div>
    </div>
    <div style="clear: both; text-align: center; padding: 15px 20px; margin: 20px 30px; background-color: #6699cc; color: white; border-color: #336699; border-width: 4px; border-style: solid; border-radius: 13px;">
        <a href="%3$s" style="color: white; text-decoration: none; font-family: sans-serif; font-weight: bold;">ATTIVA LA TUA REGISTRAZIONE</a>
    </div>
</div>