<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        Ti diamo il benvenuto tra gli <i>Equomobili</i>, la community di SHARE'NGO, confermandoti l'accredito dei 500 minuti compresi con la tua registrazione.
        <br>
        <br>
        <b>Il servizio sar&agrave; attivo a Milano dal 22 giugno</b> e nei prossimi giorni ti invieremo le Condizioni Generali di Contratto, il Regolamento e le modalit&agrave; di utilizzazione dell'Equomobile.
        <br>
        <br>
        Riceverai anche il PIN che hai scelto in registrazione - che ti servirà per prenotare e utilizzare una delle nostre auto - e le informazioni per completare il pagamento dell'iscrizione di 10€. Avrai tempo per farlo fino al 30 giugno.
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Grazie e a presto
            <br>
            <br>
            Barbara Bacci
            <br>
            Community Manager
            <br>
            SHARE'NGO Milano
        </div>
    </div>
    <div style="clear: both; text-align: center; padding: 15px 20px; margin: 20px 30px; background-color: #6699cc; color: white; border-color: #336699; border-width: 4px; border-style: solid; border-radius: 13px;">
        <a href="%3$s" style="color: white; text-decoration: none; font-family: sans-serif; font-weight: bold;">ATTIVA LA TUA REGISTRAZIONE</a>
    </div>
</div>