<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        si è verificato un problema nel tentativo di pagamento di una corsa che hai effettuato nei giorni scorsi. Verrai contattato oggi o nei prossimi giorni dal servizio clienti per completare questo pagamento.
        <br>
        <br>
        Ti informo che in attesa di regolare la tua posizione, il tuo account è stato disabilitato. Potrai continuare ad accedere all'area riservata ma non fare il log-in sulla APP o utilizzare un’Equomobile di Share’ngo.
        <br>
        <br>
        Puoi contattarmi al servizio clienti al numero 0586 1975772 oppure all'indirizzo email servizioclienti@sharengo.eu.
        <br>
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Cordiali Saluti<br>
            Barbara Bacci<br>
            Community Manager<br>
            SHARE’NGO
        </div>
    </div>
</div>