#header.emotional-header {
    background: #fff url(../images/bg/bg-emotional-header.jpg) center -30px no-repeat;
}

#registration-form ul.errors li, #registration-form-2 ul.errors li {
    list-style-type: none;
    color: red;
}

#footer .badge-green-number {
    width: 280px;
}

#main .block-wrapper-button a.reset {
    background: #999;
    color: #fff;
    line-height: 1em;
    height: 40px;
    display: inline-block;
    padding: 12px 20px 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #255b2a;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    backface-visibility: hidden;
    webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
}

#main .block-wrapper-button a.reset:hover {
    box-shadow: 0 0 8px #999;
    -moz-box-shadow: 0 0 8px #999;
    -webkit-box-shadow: 0 0 8px #999;
}

.module-car-map #map-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(25, 25, 25, .85);;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    padding-top: 150px;
}

.module-car-map #map-overlay a {
    display: block;
}

#registration-form.form-signup a.document-links {
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
