.page-container {
    overflow: auto;
}
.logo {
    width: 324px;
    height: 110px;
}
.header {
    margin-top: -10px;
    margin-left: 20px;
}
.header-text {
    font-size: 10px;
}
.data {
    width: 250px;
    float: right;
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    font-size: 12px;
    line-height: 15px
}
.invoice-data {
    height: 80px;
    margin-top: 10px;

}
.customer-data {
    height: 150px;
    margin-top: 40px;

}
.table-header {
    width: 250px;
    height: 30px;
    line-height: 30px;
    background-color: #43a34c;
    padding-left: 5px;
}
.invoice-header {
    margin-top: 80px;
}
.summary-header {
    margin-top: 50px;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #43a34c;
    margin-top: -20px;
}
.content {

}
.message {
    position: relative;
    left: 50px;
    font-size: 15px;
    word-wrap: break-word;
    max-width: 500px;
    margin-top: 200px;
}

/* General styles */

.font {
    font-family: Arial, sans-serif;
}

.name {
    font-weight: 700;
}

/* Table styles */

.table td, th {
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    overflow: hidden;
    word-break: normal;
}
.table1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 324px;
}
.table1 td, th {
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: #43a34c;
}
.table2 {
    width: 100%;
    margin-top: 50px;
}
.table2 td {
    border-width: 0px;
    border-color: #43a34c;
    color: #333;
}
.table2 th {
    font-weight: normal;
    border-width: 0px;
    border-color: #43a34c;
    color: #333;
    background-color: #43a34c;
    color: #fff;
}

/* Pagination styles */

@media all {
    .page-break {
        display: none;
    }
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }
}
