.module-section-bookmark.yellow {
    margin-top: 30px;
    background: #faed66 !important;
    padding-bottom: 0;
    padding-top: 30px;
    margin-bottom: 15px;
}

h1.module-main-title{
    color: #289941 !important;
    text-transform: uppercase;
    font-size: 1.8em !important;
    font-weight: 800;
}

.module-section-bookmark.yellow ul{
    list-style-type: none;
    color:#1c2329;
    font-size: 1.4em;
    font-weight: 700;
}

.module-section-bookmark.yellow li::before {
    content: "• ";
    font-size: 1.2em;
    padding-right: 10px ;
    color: white;
}

.module-main-title-2{
    color:#1c2329;
    font-size: 1.4em;
    font-weight: 400;
    padding-bottom: 15px
}

.module-main-subtitle p{
    color: #1c2329;
    font-size: 1.4em;
    font-weight: 700;
}

.module-wizard {
    width: 250px !important;
    /*margin: 0 auto;*/
    display: inline-block;
    padding-bottom: 15px;
    /*font-size: 2em;*/
    font-weight: 700;
}

.module-wizard ul li:after {
    height: 15px !important;
    margin-top: 12px !important;
    background: none !important;
    border-bottom: 4px dotted #289941  !important;
    width: 40px !important;
    right: -38px !important;
}

.module-wizard ul li.active:after {
    background: none !important;
}

.module-wizard ul li.active {
    background: #ffea00 !important;
    color: #289941 !important;
}

.module-wizard ul li {
    font-size: 35px !important;
    padding-top: 0 !important;
    color: #ffea00 !important;
    background: #289941 !important;
    width: 37px !important;
    height: 37px !important;
    line-height: 37px !important;
}

/*#generalCondition1Text{*/
/*    text-transform: none;*/
/*    font-size: 10px;*/
/*    font-weight: 200;*/
/*}*/

#privacyConditionText, #newsletterText, #generalCondition1Text, #generalCondition2Text{
    text-transform: none;
    font-size: 10px;
    font-weight: 200;
}

#driverLicenseForeign {
    font-size: 14px;
    font-weight: normal;
    color: #07BA50;
    display: block;
    width: 40px;
    height: 40px;
    padding: 6px 12px;
    line-height: 1.428571429;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.module-modal {
    margin-top: -250px;
}

p.codicePromo{
    text-align: center; padding: 10px 0 10px 0 !important;
}

#main input[type="submit"], .module-modal input[type="submit"], #main button, .module-modal button, #main input[type="reset"], .module-modal input[type="reset"] {
    border-radius: 0 0 0 0 !important;
    background: #289941 !important;
    border: 1px solid #289941 !important;
}

.icon-auto {
    display: inline-block;
    text-indent: -9999px;
    background-image: url(../images/icon-auto.png);
    background-repeat: no-repeat;
    -webkit-background-size: 30px 36px;
    -moz-background-size: 30px 36px;
    background-size: 30px 36px;
    background-position: 0px 0px;
    margin-bottom:4px;
    width: 30px;
    height: 18px;
}

.icon-auto.active {
    background-position: 0px -18px;
}
.last {margin-right: 0px !important}

/* tablet view */
@media (max-width: 1024px) {
    h1.module-main-title {
        font-size: 1.2em !important;
    }
    .module-section-bookmark.yellow ul{
        font-size: 1em;
    }
    .module-main-subtitle p{
        font-size: 1.1em;
    }
    .module-main-title-2{
        font-size: 1.1em;
    }
}

/* smartphone view */
@media only screen and (max-width: 480px) {
    h1.module-main-title {
        font-size: 1em !important;
    }
    .module-section-bookmark.yellow ul{
        font-size: 0.82em;
    }
    .module-main-subtitle p{
        font-size: 0.9em;
    }
    .module-main-title-2{
        font-size: 0.8em;
    }

    .module-wizard {
        width: 220px !important;
    }

    .module-wizard ul li {
        font-size: 25px !important;
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
    }
    .module-wizard ul li:after {
        margin-top: 5px !important;
    }

    .icon-auto {
        -webkit-background-size: 25px 30px;
        -moz-background-size: 25px 30px;
        background-size: 25px 30px;
        margin-bottom:2px;
        width: 25px;
        height: 15px;
    }

    .icon-auto.active {
        background-position: 0px -15px;
    }
}
.app-link {
    background: #33393f;
    width: auto;
    height: 45px;
    margin-top: 10px;
}

div.load-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 1
}

div.load-overlay > div {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: table;
    table-layout: fixed
}

div.load-overlay > div > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.load-overlay > div > p > i {
    font-size: 100px;
    color: #43a34c;
    z-index: 2
}

#nextBtn{
    z-index: unset !important;
}