@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
body
{
	background:url('../images/bg-pattern.jpg');
	text-align:center!important;
}
h1
{
	font-family: Impact, Anton, 'Roboto', sans-serif;
	font-size: 60px;
	margin-bottom: 10px;
	color: #000000;
}
h2
{
	font-family: Impact, Anton, 'Roboto', sans-serif;	
	font-size: 50px;
	color: #07BA50;
	font-weight: normal;
}
h3
{
	font-family: 'Roboto', sans-serif;	
	font-size: 28px;
	color: #505e63;
	font-weight: bold;
}
a
{
	color: #505e63;
	font-weight: bold;
	text-decoration: none;
}


#top
{
	padding-top: 30px;
	padding-bottom: 25px;
}
#top img
{
	margin-top: 11px;
	max-height: 64px;
}
.line50
{
	width: 50%;
	border: 1px solid #4b585d;
}
.line80
{
	width: 80%;
	border: 1px solid #4b585d;
}
#tariffa
{
	margin-bottom:30px;
}
#tariffa ul
{
	padding-top:10px;
	padding-bottom: 15px;
}
#tariffa ul li {
    font-size: 21px;
    list-style: none;
    position: relative;
    padding-left: 12px;
    color: #4f595e;
    line-height: 32px;
	text-align: left;
	width:100%;
}

#tariffa ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    margin-top: -6px;
    top: 16px;
    background: #07BA50;
    position: absolute;
    left: -15px;
    border-radius: 50%;
}
#tariffa img
{
	max-width: 300px;
}

#vantaggi
{
	margin-bottom:50px;
}

#vantaggi h2
{
	font-family: Impact, Anton, 'Roboto', sans-serif;	
	font-size: 40px;
	color: #07BA50;
	font-weight: normal;
}
#vantaggi span
{
	font-family: Impact, Anton, 'Roboto', sans-serif;	
	font-size: 25px;
	color: #07BA50;
	font-weight: normal;
	text-align: left;
	margin-left: 120px;
}
#vantaggi h3
{
	font-family: Impact, Anton, 'Roboto', sans-serif;	
	font-size: 25px;
	color: #07BA50;
	font-weight: normal;
	text-align: left;
	margin-left: 120px;
	width:100%;
}
#vantaggi img
{
	max-width: 100px;
	position: absolute;
	border-right: 2px solid #4b585d;
	padding-top: 5px;
	padding-bottom: 5px;
}
#vantaggi .testo
{
	font-family: 'Roboto', sans-serif;	
	text-align: left;
	margin-left: 120px;
	font-weight: normal;
}
#vantaggi .litem
{
	padding-right: 10%;
	margin-bottom: 30px;
	margin-left:200px;
}

.center_table
{
  display: table;
  margin: auto;
}
@media (max-width: 740px)
{
	header .container
	{
		padding-left: 5px;
		padding-right: 5px;
	}
	
	#top
	{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#top img
	{
		margin-top: 8px;
		max-height: 40px;
	}
	h1
	{
		font-size:32px;
		margin-bottom: 0px;
	}
	h2, #vantaggi h2, #vantaggi h3
	{
		font-size: 24px;
	}
	#vantaggi h2
	{
		margin-bottom: 15px;
	}
	h3
	{
		font-family: 'Roboto', sans-serif;	
		font-size: 18px;
		color: #505e63;
		font-weight: bold;
		text-align: left;
	}
	
	#vantaggi .litem
	{
		margin-left:10px;
		margin-bottom: 30px;
	}
	#tariffa
	{
		margin-bottom: 20px;
	}
	#tariffa ul
	{
		padding-top:0px;
		padding-bottom: 0px;
	}
	#tariffa ul li {
		font-size: 18px;
		line-height: 22px;
		padding-right:10px;
	}

	#tariffa ul li:before {
		top: 12px;
	}
	#btn_provala
	{
		max-height: 80px;
	}
	#vantaggi img
	{
		max-width: 80px;
	}
	#vantaggi .testo, #vantaggi h3
	{
		margin-left: 90px;
	}
	
}