<?php

return [
    'aci' => [
        'username' => 'SHARE_GO',
        'password' => 'SHARE123GO',
        'verify_aci_card_url' => 'http://77.73.57.11/Ricerca_Socio_WS/services/RicercaSocioWSBean/wsdl/RicercaSocioWSBean.wsdl',
    ]
];