<?php

return [
    'bankart' => [
	
	'username' => 'Api01Sharengo',
        'password' => '*9q1=2iLmxJK/7mYHOlB=P(.2d._O',
        'api_key' => '2083302IT500782',
        'shared_secret' => 'Czp9OjBu8bAxD1ejhZQYUK5EKgYkyb',

        'currency' => 'EUR',
        'locale' => 'sl_SI',

	'callback'             => 'https://public.sharengo.si/bankart/callback',
        'return_first_payment' => 'https://public.sharengo.si/bankart/return-first-payment',
        'first_payment_amount' => 500,
        'return_change_card_payment' => 'https://public.sharengo.si/bankart/return-change-card',
        'change_card_amount' => 100,

        'valid_ip' => ''
    ]
];
