<?php

return [
    'gpwebpay' => [
        'first_payment_url' => 'https://test.3dsecure.gpwebpay.com/pgw/order.do',
        'recurring_payment_url' => 'https://test.3dsecure.gpwebpay.com/pay-ws/v1/PaymentService',
        'our_private_key' => 'gpwebpay-pvk.key',
        'gpwebpay_key' => 'gpe.signing_test.pem',
        'provider' => 7500,
        'currency' => 978, //EUR
        'first_payment_amount' => 500,
        'merchant_number' => '3083090',
        'private_key_password' => 'n3meUnpWgGCndQ2P1xv9',
        'valid_ip' => ''
    ]
];
