<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
    'emailSettings' => [
        'from' => '',
        'replyTo' => '',
        'X-Mailer' => '',
        'sharengoNotices' => '',
        'registrationBcc' => ''
    ],
    'googleAnalytics' => [
        'key' => ''
    ],
    'googleMaps' => [
        'key' => 'AIzaSyAjv0Ry_0P18id6pWKwNn0IptB8NvZGfxY'
    ],
    'alertSettings' => [
        'from' => '',
        'to' => ''
    ],
    'simple-logger' => [
        'environment' => 'development'
    ],
    'website' => [
        'uri' => 'http://www.dev.sharengo.eu'
    ],
    'driversLicense' => [
        'path' => '/srv/apps/sharengo/data/drivers-license-uploads',
        'notifyTo' => 'email@domain'
    ],
    'serverInstance' => [
        'id' => ''
    ],
    /* for MYSHARENGO
     * 'router' => [
        'routes' => [
            'area-utente' => [      //override public-business-module
                'child_routes' => [
                    'additional-services' => [
                        'type' => 'Segment',
                        'options' => [
                            'route' => '/{servizi-aggiuntivi}[/:mobile]',
                            'defaults' => [
                                'controller' => 'AdditionalServices',
                                'action' => 'my-additional-services'
                            ],
                            'constraints' => [
                                'mobile' => 'mobile'
                            ]
                        ]
                    ],
                    'bonus-package' => [
                        'type' => 'Segment',
                        'options' => [
                            'route' => '/package/:id',
                            'defaults' => [
                                'controller' => 'CustomerBonusPackages',
                                'action' => 'my-package'
                            ]
                        ]
                    ],
                    'buy-package' => [
                        'type' => 'Segment',
                        'options' => [
                            'route' => 'buy-package',
                            'defaults' => [
                                'controller' => 'CustomerBonusPackages',
                                'action' => 'my-buy-package'
                            ]
                        ]
                    ]
                ]
            ]
        ]
    ]
     */
];
